.hidden{
	display:none;
}
ul.city{
  margin-bottom:0;
  margin-top:0;
}
li.city{
  background: #000;
  color: #FFF;
}
li.star-header{
  background: #000;
  color: #FFF;
  font-weight: 900;
}
.header-icon{
  box-sizing: border-box;
  display: inline;
  float: right;
  font-size: 17px;
  font-weight: normal;
  height: 40px;
  line-height: 22px;
  margin-bottom: 3px;
  margin-right: 0px;
  margin-top: 10px;  
  padding-bottom: 9px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 9px;
  position: relative;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 37px;
}