.verydark { background-color: #381a05;}
.dark { background-color: #8e410d;}
.medium { background-color: #d68d2f;}
.light { background-color: #FFE2B6;}
.lighttext{ color: #ffe2b6;}
	a:link.lighttext { color:#ffe2b6; text-decoration:none; }
    a:visited.lighttext { color:#ffe2b6; text-decoration:none; }
    a:hover.lighttext { color:#ffe2b6; text-decoration:none; }
    a:active.lighttext { color:#ffe2b6; text-decoration:none; }
.darktext{ color: #381a05;}
	a:link.darktext { color:#381a05; text-decoration:none; }
    a:visited.darktext { color:#381a05; text-decoration:none; }
    a:hover.darktext { color:#381a05; text-decoration:none; }
    a:active.darktext { color:#381a05; text-decoration:none; }
